<div id="trackOptionsFilter">
  	<ul >
          <li >                      
              <a class="tracktitle">
                <span class="ctitle">Manage Your Money</span>
              </a>
                <a routerLink="/accounts" title="Accounts" class="trackoption">
                  <span class="title2">
                  <span class="fa fa-bank" aria-hidden="true"></span>                    
                    <b> Accounts</b>
                  </span>
                </a>    
                </li>
                <li>
                <a routerLink="/income"  title="Income" class="trackoption">
                    <span class="title2">
                      <span class="fa fa-money" aria-hidden="true"></span>
                      <b> Income</b>
                    </span>                    
                </a>
                
                <a routerLink="/login"  title="Expenses" class="trackoption">
                    <span class="title2">
                      <span class="fa fa-inr"><i></i></span>
                      <b> Expenses</b>
                    </span>
                </a>                 
                
                <a routerLink="/reports"  title="Reports" class="trackoption">
                    <span class="title2">
                      <span class="fa fa-bar-chart"><i></i></span>
                      <b> Reports</b>
                    </span>
                </a>  
                <a routerLink="/payable-bill-alerts" title="alerts" class="trackoption">
                    <span class="title2">
                      <span class="fa fa-bell"><i></i></span>
                      <b> Billing Alerts</b>
                    </span>
                </a>  
            </li>
            
    </ul>
  </div>