
<div class="form-main">
    
  <div class="form-heading">
        <span class="form-title">Create Expenses</span>      
  </div>

  <form class="login-form"> 
     
  <div class="login-form-input">
    <label for="expCtgry">Expense Category</label>
    <div class="login-form-inputs" >       
      
      <select name="expCtgry" id="expCtgry">
        <option></option>
        <option value="gold">Gold</option>
        <option value="clothes">Clothes</option>
        <option value="groceries">Groceries</option>
      </select>
    </div>   
  </div>

  <div class="login-form-input" >  
    <label for="account">Account</label> 
    <div class="login-form-inputs">      
      <select name="accounts" id="accounts">
        <option></option>
        <option value="SBI1101">SBI 1101</option>
        <option value="HDFC1212">HDFC 1212</option>
        <option value="PERSONALCASH">EDUCATION</option>
      </select>
    </div>   
  </div>
  <div class="login-form-input" >  
    <label for="amount">Amount</label> 
    <div class="login-form-inputs">      
      <input name="amount" id="amount" type="text"/>        
    </div>   
  </div>
  <div class="login-form-input" >  
    <label for="expenseDate">Expense Date</label> 
    <div class="login-form-inputs">      
      <input name="expenseDate" id="expenseDate" type="text"/>        
    </div>   
  </div>
  <div class="login-form-input" >  
    <label for="expenseDescr">Description</label> 
    <div class="login-form-inputs">      
      <input name="expenseDescr" id="expenseDescr" type="textarea"/>        
    </div>   
  </div>
<div>
  <input type="submit" value="Save">  
  <input type="reset" value="Clear">   
</div>
</form>
</div>

